h1{
    color:black;
    font-size: 30px;
    text-align: center;
}
div#imagem{
    text-align: center;
}
body{
    background-color: gray;
}
p,ol,ul,h5,table{
    color:white;
}
html {
    font-size: 20px; /* px significa "pixels": o tamanho da fonte base é agora de 20 pixels */
    font-family: "Georgia", sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */
  }
